<h1>Edit Profile</h1>

<%= form_for(@shopper, url: profile_path) do |f| %>
  <div class="form-group">
    <label for="shopper_current_public_api">
      Current public api
    </label><br>
    <select name="shopper[current_public_api]"
            id="shopper_current_public_api">
      <option></option>
      <%= options_from_collection_for_select(@public_apis, 'code', 'name', @shopper.current_public_api) %>
    </select>
  </div>
  <%= f.submit 'Update', class: 'btn btn-default' %>
<% end %>

