{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["standard", "react", "promise"],
  "env": {
    "browser": true
  },
  "globals": {
    "React": "require('react')",
    "Bloodhound": "require('bloodhound')",
    "$": "require('jquery')",
    "Rollbar": "require('rollbar')"
  },
  "rules": {
      "react/jsx-no-undef": 0,
      "no-unused-vars": [2, { "vars": "local",
                              "args": "after-used",
                              "varsIgnorePattern": "[QWERTYUIOPASDFGHJKLZXCVBNM]" }] // ignore anything starting with a capital letter
  }
}