<h1>My Grocery Price Book invite</h1>

<p>Dear <%= @invite.name %></p>
<p>
  You have been invited to <a href="<%= invite_url(@invite) %>"><%= @invite.price_book_name %></a>
  Grocery Price Book
</p>
