<h1>Edit Entry</h1>

<%= react_server('EntriesForm',
                 entry: {total_price: @entry.total_price, date_on: @entry.date_on,
                         product_name: @entry.product_name, amount: @entry.amount,
                         package_size: @entry.package_size, store_id: @entry.store_id},
                 back_href: book_page_url(@book, @page),
                 new_store_href: new_book_store_url(@book),
                 form_action: book_page_entry_path(@book,@page,@entry),
                 form_method: 'put',
                 error_messages: @entry.errors.full_messages,
                 selectable_stores: stores_options_for_book(@book),
                 local_suggestions: @page.product_names,
                 package_unit: @entry.package_unit,
                 authenticity_token: form_authenticity_token) %>