<h1>New <%= @page.name %> Entry</h1>

<%= react_server('EntriesForm',
                 entry: {total_price: @entry.total_price || "", date_on: @entry.date_on || "",
                         product_name: @entry.product_name || "", amount: @entry.amount || "",
                         package_size: @entry.package_size || "", store_id: @entry.store_id || ""},
                 back_href: session[:book_store_create_return] || book_page_url(@book, @page),
                 currency_symbol: @book.currency_symbols.first,
                 new_store_href: new_book_store_url(@book),
                 form_action: book_page_entries_path(@book, @page),
                 form_method: 'post',
                 error_messages: @entry.errors.full_messages,
                 selectable_stores: stores_options_for_book(@book),
                 local_suggestions: @page.product_names,
                 entry_names_url: book_entry_suggestions_url(@book),
                 package_unit: @page.unit,
                 authenticity_token: form_authenticity_token) %>