<h1>Select Area</h1>

<%= form_tag(select_area_path) do %>
  <div class="form-group">
    <label for="current_public_api_select">
      Current public api
    </label><br>
    <select name="current_public_api"
            id="current_public_api_select">
      <% @public_apis.each do |api| %>
        <option value="<%= api.code %>">
          <%= api.name %>
        </option>
      <% end %>
    </select>
  </div>
  <button class="btn btn-default">Set</button>
<% end -%>
