<div class="row">
  <div class="col-md-12">
    <h1>Destroy Purchase Item</h1>

    <%= form_for(@purchase_item, url: purchase_item_path(@purchase, @purchase_item), method: :delete) do |f| %>
      Are you sure?
      <button class="btn btn-default">Destroy</button>
    <% end %>

    <%= link_to 'Show', purchase_item_path(@purchase, @purchase_item), class: 'btn btn-default' %> |
    <%= link_to 'Back', purchase_items_path(@purchase), class: 'btn btn-default' %>
  </div>
</div>
