<div class="row">
  <div class="col-md-12">
    <h1>Editing Purchase Item</h1>

    <%= form_for(@purchase_item, url: purchase_item_path(@purchase, @purchase_item)) do |f| %>
      <%= render 'form', f: f %>
    <% end %>

    <%= link_to 'Show', purchase_item_path(@purchase, @purchase_item), class: 'btn btn-default' %> |
    <%= link_to 'Back', purchase_items_path(@purchase), class: 'btn btn-default' %>
  </div>
</div>
