#!/usr/bin/env puma

directory '/home/{{item.app_user}}/current'
rackup "/home/{{item.app_user}}/current/config.ru"
environment 'production'

pidfile "/home/{{item.app_user}}/shared/tmp/pids/puma.pid"
state_path "/home/{{item.app_user}}/shared/tmp/pids/puma.state"
stdout_redirect '/home/{{item.app_user}}/shared/log/puma_access.log', '/home/{{item.app_user}}/shared/log/puma_error.log', true

threads 0,16

bind 'tcp://0.0.0.0:{{item.port}}'
workers 0

preload_app!
