<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Name:</strong>
      <%= @regular_item.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @regular_item.category %>
    </p>

    <%= link_to 'Edit', edit_regular_item_path(@regular_item), class: 'btn btn-default' %>
    <%= link_to 'Back', regular_items_path, class: 'btn btn-default' %>
  </div>
</div>
