<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Name:</strong>
      <%= @regular_list.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @regular_list.category %>
    </p>

    <%= link_to 'Edit', edit_regular_list_path(@regular_list), class: 'btn btn-default' %>
    <%= link_to 'Back', regular_lists_path, class: 'btn btn-default' %>
  </div>
</div>
