<div class="jumbotron">
  <div class="container">
    <h1>My Grocery Price Book</h1>
    <p>Aiming to be the ultimate digital grocery price book.</p>
    <p>If this interest you why not <b><a href="<%= contact_path %>">send us a message.</a></b></p>
    <p>If you have an existing spreadsheet why not <b><a href="<%= contact_path %>">contact us</a></b> and
       let see if we can import it.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <b><a href="https://www.youtube.com/watch?v=UDAAabxyseU">View video tutorial to help you get started</a></b>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"><h2>Track</h2>
      <p>Track your purchases in your digital price book ...</p></div>
    <div class="col-md-4"><h2>Compare</h2>
      <p>Quickly compare your prices with prices in the store ...</p></div>
    <div class="col-md-4"><h2>Build Shopping List</h2>
      <p>Build you shopping list and get estimated costs quickly ...</p></div>
  </div>
</div>
