<div class="jumbotron">
  <div class="container">
    <h1>My Grocery Price Book</h1>
    <p>Keeping a grocery price book ... we are in Alpha.</p>
    <p>If this interest you why not <a href="<%= contact_path %>">send us a message</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"><h2>Track</h2>
      <p>Track your purchases in your digital price book ...</p></div>
    <div class="col-md-4"><h2>Compare</h2>
      <p>Quickly compare your prices with prices in the store ...</p></div>
    <div class="col-md-4"><h2>Build Shopping List</h2>
      <p>Build you shopping list and get estimated costs quickly ...</p></div>
  </div>
</div>