#!/usr/bin/env puma

directory '/home/gc_user/current'
rackup "/home/gc_user/current/config.ru"
environment 'production'

pidfile "/home/gc_user/shared/tmp/pids/puma.pid"
state_path "/home/gc_user/shared/tmp/pids/puma.state"
stdout_redirect '/home/gc_user/shared/log/puma_access.log', '/home/gc_user/shared/log/puma_error.log', true

threads 0,16

bind 'tcp://127.0.0.1:{{app_port}}'
workers 0

preload_app!
