/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./site
 *= require_self
 *
 *
 */

body {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lora', sans-serif;
}

.btn-logout {
    padding-top: 14px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.shopping-list-busy-overlay {
    position: absolute;
    top: 0;
    margin-right: 5;
    width: 92%;
    height: 86%;
    background-color: rgba(230, 230, 230, 0.9);
    color: #fff;
}

.form-inline-block {
    display: inline-block;
    padding-right: 1%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.shopping-list-item-enter {
    opacity: 0.01;
}

.shopping-list-item-enter.shopping-list-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.shopping-list-item-leave {
    opacity: 1;
}

.shopping-list-item-leave.shopping-list-item-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-nav > li > a {
    font-size: 1.2em;
}

.page-info {
    text-transform: uppercase;
    font-size: 0.8em;
}

.pages-options {
    margin-bottom: 20px
}

.thumbnail, .img-thumbnail {
    border: 0 none;
    box-shadow: 2px 4px 8px #ccc;
    padding: 10px;
}

h4, .h4 {
    margin: 0;
}