<div class="row">
  <div class="col-md-12">
    <h1>Price Book</h1>
    <a href="<%= set_book_area_link %>" class="btn btn-default btn-sm">Set Area</a>
    <a href="<%= invite_link %>" class="btn btn-default btn-sm">Invite Shopper</a>
    <a href="<%= new_page_link %>" class="btn btn-primary btn-sm">New Page</a>
  </div>
</div>