.category--bakery {
    background-color: #fcfca6;
}

.category--fresh {
    background-color: #84CA84;
}

.category--frozen {
    background-color: deepskyblue;
}

.category--ready-meals {
    background-color: coral;
}

.category--food-cupboard {
    background-color: #FCD9A6;
}

.category--snacks-and-sweets {
    background-color: pink;
}

.category--drinks {
    background-color: #7585A9;
}

.category--household {
    background-color: lightseagreen;
}

.category--pets {
    background-color: sandybrown;
}

.category--baby {
    background-color: lightyellow;
}

.category--health-and-beauty {
    background-color: lightsteelblue;
}

.category--other {
    background-color: lightgrey;
}