.price-book-pages {
    padding-top: 5px;
}

.page-best-price-ratio {
    display: inline-block;
    float: right;
}

.page-best-store {
    display: inline-block;
    float: right;
}

.pages-header {
    padding-bottom: 5px;
}

.btn-add-entry {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    float: right;
}