.inline-form-for-button {
    display: inline;
}

.item-info {
    padding-left: 5px;
}

.item-purchased {
    text-decoration:line-through;
}

.shopping-list-item-add-form {
    position: relative;
}

.shopping-list-suggestions {
    position: absolute;
    z-index: 1030;
    bottom: 100%;
    left: 0;
}

.name-suggestion {
    display: block;
    width: 100%;
    text-align: left;
}

.shopping-list-item {
    border-radius: 7px;
    margin: 2px;
    display: table;
    width: 99%;
}

.shopping-list-item span {
    display: table-cell;
}

.shopping-list-item span.item-info {
    max-width: 100%;
}

.item-unit {
    padding-right: 5px;
    padding-left: 2px;
}

.item-name {
    font-weight: bolder;
    padding-right: 5px;
}

.shopping-list-item span.shopping-actions {
    width: 121px;
    align-content: center;
}

.shopping-actions button {
    padding-right: 6px;
    padding-left: 6px;
}