body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}


div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
  padding-top: 10px;
  color: rgb(0, 96, 99);
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: rgb(0, 96, 99);
  display: table;
}

#error_explanation, .error-explanation {
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 96, 99);
}
