<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="http://blog.my-grocery-price-book.co.za/">Blog</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
  </div>
</footer>